* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #189AB4;
    text-align: center;
}

.container {
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

h2 {
    margin-top: 2rem;
    color: #05445E;
    font-size: 2rem;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box {
    height: 18vmin;
    width: 18vmin;
    border: none;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 8vmin;
    background-color: #F6D6D6;
    cursor: pointer;
}

#reset,
#new {
    padding: 1rem;
    font-size: 1.2rem;
    background-color: #05445E;
    color: #FAE8E0;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
}

#msg {
    color: #F6D6D6;
    font-size: 5vmin;
    text-align: center;
}

.msg-cntr {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5rem;
}

.hide {
    display: none;
}

#red {
    color: red;
}

#green {
    color: green;
}

#draw {
    color: #05445E;
}

#copy {
    padding-top: 2rem;
}
